body {
    background-color: rgb(87, 110, 121);
    text-align: center;
}
header  {
    display: inline-block;
    margin: auto;
    text-align: center;
    color:#44c767;
	font-family:Arial;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

section {
    display: inline-block;
    vertical-align: auto;
}

input {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

input:hover {
	background-color:#5cbf2a;
}
input:active {
	position:relative;
	top:1px;
}

input[type=number] {
	width: 238px;
}
